/* ROOT */
:root {
    --primary: #57A997;
    --secondary: #000000;
    --light: #F5F5F7;
    --roboto: 'Roboto', sans-serif;
    --font_40: 40px;
    --font_22: 22px;
    --font_base: 16px;
}

/* !=== 1200 =========  */
@media (max-width:1199px) {
    :root {
        --primary: #57A997;
        --secondary: #000000;
        --light: #F5F5F7;
        --roboto: 'Roboto', sans-serif;
        --font_40: 36px;
        --font_22: 20px;
        --font_base: 16px;
    }
    .hero {
        min-height: fit-content;
        padding-block: 100px;
        padding-bottom: 170px;
    }
    .font-big-light {
        line-height: 40px;
    }
    .hero_tittle {
        margin-bottom: 35px;
    }
    .hero_content {
        margin-bottom: 44px;
    }
    .shirt_green_mark {
        margin-right: 15px;
    }
    .circle_green {
        min-width: 40px;
        min-height: 40px;
    }
    .font-medium-normal {
        line-height: 26px;
    }
    .btn_solid {
        width: 270px;
        height: 40.5px;
    }
    .mission_img {
        max-width: 100%;
    }
    .mission_tittle {
        margin-bottom: 25px;
    }
    .mission_content_info {
        margin-bottom: 12px;
    }
    .mission_content_info:nth-child(5) {
        margin-top: 28px;
        margin-bottom: 40px;
    }
    .mission_content_sub {
        margin-top: 36px;
        margin-bottom: 23px;
    }
    .mission {
        height: fit-content;
        padding-block: 90px;
    }
    .method_content_box {
        max-width: 97%;
        margin-bottom: 22px;
    }
    .method_one {
        width: 150px;
    }
    .method_three {
        width: 200px;
    }
    .method_two {
        width: 195px;
    }
    .method_two::before {
        width: 65px;
        height: 44px;
    }
    .method_two::after {
        width: 65px;
        height: 44px;
    }
    .method_logo  {
        width: 100px;
    }
    .methods {
        padding-block: 10px;
        margin-bottom: 25px;
    }
    .method {
        padding-block: 90px;
        padding-bottom: 150px;

    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(2) {
        margin-top: 9%;
    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(3) {
        margin-top: 11%;
    }

}
/* !=== 991 =========  */
@media (max-width:991px) {
    header .navbar-nav .nav-item:nth-child(5) {
        padding-bottom:15px;
    }
    header .navbar-nav .nav-item:nth-child(1) {
        padding-top:15px;
    }
    header .navbar-nav .nav-item .nav-link {
        padding: 6px 18px;
    }
    .navbar-collapse {
        background: var(--light);
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        transition: .3s all;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(87, 169, 151)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .hero_tittle {
        margin-top: 22px;
    }
    .hero_tittle br {
        display: none;
    }
    .method_two::before {
        width: 50px;
        height: 33px;
        left: -33%;
    }
    .method_two::after {
        width: 50px;
        height: 33px;
        right: -33%;
    }
    .method_logo {
        width: 80px;
    }
    .method_one {
        width: 140px;
    }
    .method_three {
        width: 190px;
    }
    .methods {
        margin-bottom: 10px;
    }
    .circle_green {
        min-width: 35px;
        min-height: 35px;
        max-width: 35px;
        max-height: 35px;
    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(2) {
        margin-top: 21%;
    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(3) {
        margin-top: 18%;
    }

}



/* !=== 767 =========  */
@media (max-width:767px) {
    .mission_img {
        text-align: center;
    }
    .mission {
        padding-block: 20px;
        margin-bottom: 30px;
    }
    .methods {
        flex-wrap: wrap;
    }
    .method_one {
        width: 90%;
        text-align: center;
    }
    .method_two {
        width: 90%;
        text-align: center; 
        padding-block: 100px;
    }
    .method_two::before {
        width: 50px;
        height: 33px;
        left: 50%;
        rotate: 90deg;
        translate: -50%;
        top: 8%;
    }
    .method_two::after {
        width: 50px;
        height: 33px;
        right: 50%;
        rotate: 90deg;
        translate: 55%;
        top: 90%;
    }
    .method_three {
        width: 90%;
        text-align: center;
    }
    .method {
        padding-block: 20px;
        padding-bottom: 150px;
    }
    .benefit {
        padding-block: 35px;
    }
    .benefit_card {
        border-radius: 15px;
        padding: 10px 16px;
        min-height: 220px;
    }
    .benefit_card_tittle {
        margin-bottom: 8px;
    }
    .benefit_card_img {
        margin-bottom: 5.5px;
    }
    footer .info {
        margin-top: 20px;
    }
    textarea.form-control {
        margin-bottom: 30px;
    }
    .navbar-brand {
        max-width: 180px;
    }
    .header_active {
        padding-block: 10px;
    }
    header {
        padding-block: 15px;
    }
    .circle_green {
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
    }
    .shirt_green_mark {
        margin-right: 10px;
    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(2) {
        margin-top: 9%;
    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(3) {
        margin-top: 9%;
    }
    .shirt_green_text {
        font-size: 18px;
    }
}



/* !=== 460 =========  */
@media (max-width:460px) {
    .hero_shirt_img {
        max-width: 160px;
    }
    .circle_green {
        width: 20px;
        height: 20px;
    }
    .shirt_green_mark {
        margin-right: 5px;
    }
    .shirt_green_text {
        font-size: 16px;
    }
    .circle_green {
        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(2) {
        margin-top: 10%;
    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(1) {
        margin-top: -2%;
    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(3) {
        margin-top: 9%;
    }
    .shirt_green_text {
        font-size: 14px;
    }
    /* .hero_shirt_content_row  {
        align-items: flex-start !important;
    } */


    input, .form-control {
        border-bottom: 1px solid #C8C8C8;
        margin-bottom: 7px;
    }
    .font-medium-normal {
        line-height: 18px;
        font-size: 18px;
    }
    .form-control {
        font-size: 18px;
    }
}
@media (max-width:360px) {
    .shirt_green_text {
        font-size: 12px;
        line-height: 1.2;
    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(1) {
        margin-top: -1%;
    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(2) {
        margin-top: 22%;
    }
    .hero_shirt_content .hero_shirt_content_row:nth-child(3) {
        margin-top: 17%;
    }
}